--
-- PostgreSQL database dump
--

\restrict PomsHGHVBOPKLFnAbcDf6kTEegnLwocTE56jnWJErAO2hIGKI1zQbVaEgHuvNnQ

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.assignment (
    id bigint NOT NULL,
    flow_id bigint,
    discipline_id bigint,
    title character varying(255),
    type character varying(20),
    description text,
    release_at timestamp with time zone,
    due_at timestamp with time zone,
    late_policy character varying(20),
    submission_type character varying(20),
    allow_multiple boolean,
    max_attempts integer,
    max_score numeric(5,2),
    visibility character varying(20),
    status character varying(20),
    status_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.assignment OWNER TO admin;

--
-- Name: assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.assignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_id_seq OWNER TO admin;

--
-- Name: assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.assignment_id_seq OWNED BY public.assignment.id;


--
-- Name: assignment_status; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.assignment_status (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.assignment_status OWNER TO admin;

--
-- Name: assignment_status_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.assignment_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_status_id_seq OWNER TO admin;

--
-- Name: assignment_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.assignment_status_id_seq OWNED BY public.assignment_status.id;


--
-- Name: classroom; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.classroom (
    id bigint NOT NULL,
    building character varying(100),
    room_number character varying(20),
    campus character varying(100),
    capacity integer,
    floor integer,
    has_projector boolean,
    has_pc boolean,
    is_accessible boolean,
    status character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.classroom OWNER TO admin;

--
-- Name: classroom_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.classroom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.classroom_id_seq OWNER TO admin;

--
-- Name: classroom_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.classroom_id_seq OWNED BY public.classroom.id;


--
-- Name: discipline; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.discipline (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    ects_credits numeric(4,1),
    unit_id bigint,
    flow_id bigint,
    lecturer_id bigint,
    level character varying(20),
    language character varying(50),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.discipline OWNER TO admin;

--
-- Name: discipline_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.discipline_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.discipline_id_seq OWNER TO admin;

--
-- Name: discipline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.discipline_id_seq OWNED BY public.discipline.id;


--
-- Name: discipline_teacher; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.discipline_teacher (
    discipline_id bigint NOT NULL,
    teacher_id bigint NOT NULL
);


ALTER TABLE public.discipline_teacher OWNER TO admin;

--
-- Name: enrollment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.enrollment (
    id bigint NOT NULL,
    user_id bigint,
    discipline_id bigint,
    flow_id bigint,
    enrolled_at timestamp with time zone,
    dropped_at timestamp with time zone,
    attendance_pct numeric(5,2),
    current_score numeric(6,2),
    final_grade character varying(5),
    status character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    progress jsonb,
    attendance_range numrange
);


ALTER TABLE public.enrollment OWNER TO admin;

--
-- Name: enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollment_id_seq OWNER TO admin;

--
-- Name: enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.enrollment_id_seq OWNED BY public.enrollment.id;


--
-- Name: exam; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exam (
    id bigint NOT NULL,
    flow_id bigint,
    discipline_id bigint,
    type character varying(20),
    scheduled_start timestamp with time zone,
    scheduled_end timestamp with time zone,
    auditorium_id bigint,
    format character varying(20),
    duration_min integer,
    max_score numeric(5,2),
    proctor_id bigint,
    status character varying(20),
    status_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.exam OWNER TO admin;

--
-- Name: exam_classroom; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exam_classroom (
    exam_id bigint NOT NULL,
    classroom_id bigint NOT NULL
);


ALTER TABLE public.exam_classroom OWNER TO admin;

--
-- Name: exam_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.exam_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_id_seq OWNER TO admin;

--
-- Name: exam_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.exam_id_seq OWNED BY public.exam.id;


--
-- Name: exam_status; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exam_status (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.exam_status OWNER TO admin;

--
-- Name: exam_status_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.exam_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exam_status_id_seq OWNER TO admin;

--
-- Name: exam_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.exam_status_id_seq OWNED BY public.exam_status.id;


--
-- Name: flow; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flow (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    unit_id bigint,
    owner_id bigint,
    credits numeric(4,1),
    cohort_year integer,
    modality character varying(20),
    language character varying(50),
    start_date date,
    end_date date,
    add_drop_deadline date,
    exam_window_start date,
    exam_window_end date,
    grade_submit_deadline date,
    max_students integer,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    tags text[],
    metadata jsonb,
    active_range daterange,
    description text
);


ALTER TABLE public.flow OWNER TO admin;

--
-- Name: flow_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.flow_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flow_id_seq OWNER TO admin;

--
-- Name: flow_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.flow_id_seq OWNED BY public.flow.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO admin;

--
-- Name: lecturer_phone; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.lecturer_phone (
    lecturer_id bigint NOT NULL,
    phone_number text NOT NULL
);


ALTER TABLE public.lecturer_phone OWNER TO admin;

--
-- Name: lesson; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.lesson (
    id bigint NOT NULL,
    flow_id bigint,
    auditorium_id bigint,
    type character varying(20),
    topic character varying(255),
    start_at timestamp with time zone,
    end_at timestamp with time zone,
    teacher_id bigint,
    online_link character varying(255),
    attendance_required boolean,
    status character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    materials jsonb,
    topics text[],
    time_slot tstzrange
);


ALTER TABLE public.lesson OWNER TO admin;

--
-- Name: lesson_classroom; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.lesson_classroom (
    lesson_id bigint NOT NULL,
    classroom_id bigint NOT NULL
);


ALTER TABLE public.lesson_classroom OWNER TO admin;

--
-- Name: lesson_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.lesson_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_id_seq OWNER TO admin;

--
-- Name: lesson_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.lesson_id_seq OWNED BY public.lesson.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.role (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_system boolean DEFAULT false,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.role OWNER TO admin;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO admin;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: unit; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.unit (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    code character varying(50),
    parent_id bigint,
    email character varying(255),
    phone character varying(20),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.unit OWNER TO admin;

--
-- Name: unit_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unit_id_seq OWNER TO admin;

--
-- Name: unit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.unit_id_seq OWNED BY public.unit.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."user" (
    id bigint NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(30),
    unit_id bigint,
    student_number character varying(50),
    employee_position character varying(100),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    last_login_at timestamp with time zone,
    bio text,
    interests text[],
    profile jsonb,
    active_period tstzrange,
    home_location point
);


ALTER TABLE public."user" OWNER TO admin;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO admin;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_role (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.user_role OWNER TO admin;

--
-- Name: assignment id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment ALTER COLUMN id SET DEFAULT nextval('public.assignment_id_seq'::regclass);


--
-- Name: assignment_status id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment_status ALTER COLUMN id SET DEFAULT nextval('public.assignment_status_id_seq'::regclass);


--
-- Name: classroom id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classroom ALTER COLUMN id SET DEFAULT nextval('public.classroom_id_seq'::regclass);


--
-- Name: discipline id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline ALTER COLUMN id SET DEFAULT nextval('public.discipline_id_seq'::regclass);


--
-- Name: enrollment id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment ALTER COLUMN id SET DEFAULT nextval('public.enrollment_id_seq'::regclass);


--
-- Name: exam id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam ALTER COLUMN id SET DEFAULT nextval('public.exam_id_seq'::regclass);


--
-- Name: exam_status id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_status ALTER COLUMN id SET DEFAULT nextval('public.exam_status_id_seq'::regclass);


--
-- Name: flow id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flow ALTER COLUMN id SET DEFAULT nextval('public.flow_id_seq'::regclass);


--
-- Name: lesson id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson ALTER COLUMN id SET DEFAULT nextval('public.lesson_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: unit id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.unit ALTER COLUMN id SET DEFAULT nextval('public.unit_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: assignment assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_pkey PRIMARY KEY (id);


--
-- Name: assignment_status assignment_status_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment_status
    ADD CONSTRAINT assignment_status_name_key UNIQUE (name);


--
-- Name: assignment_status assignment_status_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment_status
    ADD CONSTRAINT assignment_status_pkey PRIMARY KEY (id);


--
-- Name: classroom classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classroom
    ADD CONSTRAINT classroom_pkey PRIMARY KEY (id);


--
-- Name: discipline discipline_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline
    ADD CONSTRAINT discipline_code_key UNIQUE (code);


--
-- Name: discipline discipline_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline
    ADD CONSTRAINT discipline_pkey PRIMARY KEY (id);


--
-- Name: discipline_teacher discipline_teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline_teacher
    ADD CONSTRAINT discipline_teacher_pkey PRIMARY KEY (discipline_id, teacher_id);


--
-- Name: enrollment enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_pkey PRIMARY KEY (id);


--
-- Name: enrollment enrollment_user_id_flow_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_user_id_flow_id_key UNIQUE (user_id, flow_id);


--
-- Name: exam_classroom exam_classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_classroom
    ADD CONSTRAINT exam_classroom_pkey PRIMARY KEY (exam_id, classroom_id);


--
-- Name: exam exam_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_pkey PRIMARY KEY (id);


--
-- Name: exam_status exam_status_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_status
    ADD CONSTRAINT exam_status_name_key UNIQUE (name);


--
-- Name: exam_status exam_status_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_status
    ADD CONSTRAINT exam_status_pkey PRIMARY KEY (id);


--
-- Name: flow flow_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flow
    ADD CONSTRAINT flow_code_key UNIQUE (code);


--
-- Name: flow flow_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flow
    ADD CONSTRAINT flow_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: lecturer_phone lecturer_phone_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lecturer_phone
    ADD CONSTRAINT lecturer_phone_pkey PRIMARY KEY (lecturer_id, phone_number);


--
-- Name: lesson_classroom lesson_classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson_classroom
    ADD CONSTRAINT lesson_classroom_pkey PRIMARY KEY (lesson_id, classroom_id);


--
-- Name: lesson lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson
    ADD CONSTRAINT lesson_pkey PRIMARY KEY (id);


--
-- Name: role role_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_code_key UNIQUE (code);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: unit unit_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_code_key UNIQUE (code);


--
-- Name: unit unit_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_pkey PRIMARY KEY (id);


--
-- Name: classroom uq_classroom; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classroom
    ADD CONSTRAINT uq_classroom UNIQUE (building, room_number);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user_role user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_enrollment_attendance; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_enrollment_attendance ON public.enrollment USING btree (attendance_pct);


--
-- Name: idx_enrollment_progress; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_enrollment_progress ON public.enrollment USING gin (progress);


--
-- Name: idx_flow_cohort_year; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_flow_cohort_year ON public.flow USING btree (cohort_year);


--
-- Name: idx_flow_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_flow_status ON public.flow USING btree (status);


--
-- Name: idx_lesson_materials; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_lesson_materials ON public.lesson USING gin (materials);


--
-- Name: idx_user_bio; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_bio ON public."user" USING gin (to_tsvector('english'::regconfig, bio));


--
-- Name: idx_user_interests; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_interests ON public."user" USING gin (interests);


--
-- Name: idx_user_phone; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_phone ON public."user" USING btree (phone);


--
-- Name: idx_user_phone_hash; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_phone_hash ON public."user" USING hash (phone);


--
-- Name: assignment assignment_discipline_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_discipline_id_fkey FOREIGN KEY (discipline_id) REFERENCES public.discipline(id);


--
-- Name: assignment assignment_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flow(id);


--
-- Name: assignment assignment_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.assignment_status(id) ON DELETE SET NULL;


--
-- Name: discipline discipline_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline
    ADD CONSTRAINT discipline_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flow(id);


--
-- Name: discipline discipline_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline
    ADD CONSTRAINT discipline_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public."user"(id);


--
-- Name: discipline_teacher discipline_teacher_discipline_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline_teacher
    ADD CONSTRAINT discipline_teacher_discipline_id_fkey FOREIGN KEY (discipline_id) REFERENCES public.discipline(id) ON DELETE CASCADE;


--
-- Name: discipline_teacher discipline_teacher_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline_teacher
    ADD CONSTRAINT discipline_teacher_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: discipline discipline_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.discipline
    ADD CONSTRAINT discipline_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit(id);


--
-- Name: enrollment enrollment_discipline_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_discipline_id_fkey FOREIGN KEY (discipline_id) REFERENCES public.discipline(id);


--
-- Name: enrollment enrollment_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flow(id);


--
-- Name: enrollment enrollment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: exam exam_auditorium_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_auditorium_id_fkey FOREIGN KEY (auditorium_id) REFERENCES public.classroom(id);


--
-- Name: exam_classroom exam_classroom_classroom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_classroom
    ADD CONSTRAINT exam_classroom_classroom_id_fkey FOREIGN KEY (classroom_id) REFERENCES public.classroom(id) ON DELETE CASCADE;


--
-- Name: exam_classroom exam_classroom_exam_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam_classroom
    ADD CONSTRAINT exam_classroom_exam_id_fkey FOREIGN KEY (exam_id) REFERENCES public.exam(id) ON DELETE CASCADE;


--
-- Name: exam exam_discipline_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_discipline_id_fkey FOREIGN KEY (discipline_id) REFERENCES public.discipline(id);


--
-- Name: exam exam_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flow(id);


--
-- Name: exam exam_proctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_proctor_id_fkey FOREIGN KEY (proctor_id) REFERENCES public."user"(id);


--
-- Name: exam exam_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exam
    ADD CONSTRAINT exam_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.exam_status(id) ON DELETE SET NULL;


--
-- Name: flow flow_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flow
    ADD CONSTRAINT flow_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public."user"(id);


--
-- Name: flow flow_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flow
    ADD CONSTRAINT flow_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit(id);


--
-- Name: lecturer_phone lecturer_phone_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lecturer_phone
    ADD CONSTRAINT lecturer_phone_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: lesson lesson_auditorium_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson
    ADD CONSTRAINT lesson_auditorium_id_fkey FOREIGN KEY (auditorium_id) REFERENCES public.classroom(id);


--
-- Name: lesson_classroom lesson_classroom_classroom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson_classroom
    ADD CONSTRAINT lesson_classroom_classroom_id_fkey FOREIGN KEY (classroom_id) REFERENCES public.classroom(id) ON DELETE CASCADE;


--
-- Name: lesson_classroom lesson_classroom_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson_classroom
    ADD CONSTRAINT lesson_classroom_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lesson(id) ON DELETE CASCADE;


--
-- Name: lesson lesson_flow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson
    ADD CONSTRAINT lesson_flow_id_fkey FOREIGN KEY (flow_id) REFERENCES public.flow(id);


--
-- Name: lesson lesson_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lesson
    ADD CONSTRAINT lesson_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public."user"(id);


--
-- Name: unit unit_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.unit(id);


--
-- Name: user_role user_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE CASCADE;


--
-- Name: user_role user_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: user user_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO app;
GRANT USAGE ON SCHEMA public TO readonly;
GRANT USAGE ON SCHEMA public TO developer;


--
-- Name: TABLE assignment; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.assignment TO app;
GRANT SELECT ON TABLE public.assignment TO readonly;
GRANT ALL ON TABLE public.assignment TO developer;


--
-- Name: SEQUENCE assignment_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.assignment_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.assignment_id_seq TO developer;


--
-- Name: TABLE assignment_status; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.assignment_status TO app;
GRANT SELECT ON TABLE public.assignment_status TO readonly;
GRANT ALL ON TABLE public.assignment_status TO developer;


--
-- Name: SEQUENCE assignment_status_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.assignment_status_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.assignment_status_id_seq TO developer;


--
-- Name: TABLE classroom; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.classroom TO app;
GRANT SELECT ON TABLE public.classroom TO readonly;
GRANT ALL ON TABLE public.classroom TO developer;


--
-- Name: SEQUENCE classroom_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.classroom_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.classroom_id_seq TO developer;


--
-- Name: TABLE discipline; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.discipline TO app;
GRANT SELECT ON TABLE public.discipline TO readonly;
GRANT ALL ON TABLE public.discipline TO developer;


--
-- Name: SEQUENCE discipline_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.discipline_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.discipline_id_seq TO developer;


--
-- Name: TABLE discipline_teacher; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.discipline_teacher TO app;
GRANT SELECT ON TABLE public.discipline_teacher TO readonly;
GRANT ALL ON TABLE public.discipline_teacher TO developer;


--
-- Name: TABLE enrollment; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.enrollment TO app;
GRANT SELECT ON TABLE public.enrollment TO readonly;
GRANT ALL ON TABLE public.enrollment TO developer;


--
-- Name: SEQUENCE enrollment_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.enrollment_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.enrollment_id_seq TO developer;


--
-- Name: TABLE exam; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.exam TO app;
GRANT SELECT ON TABLE public.exam TO readonly;
GRANT ALL ON TABLE public.exam TO developer;


--
-- Name: TABLE exam_classroom; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.exam_classroom TO app;
GRANT SELECT ON TABLE public.exam_classroom TO readonly;
GRANT ALL ON TABLE public.exam_classroom TO developer;


--
-- Name: SEQUENCE exam_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.exam_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.exam_id_seq TO developer;


--
-- Name: TABLE exam_status; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.exam_status TO app;
GRANT SELECT ON TABLE public.exam_status TO readonly;
GRANT ALL ON TABLE public.exam_status TO developer;


--
-- Name: SEQUENCE exam_status_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.exam_status_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.exam_status_id_seq TO developer;


--
-- Name: TABLE flow; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.flow TO app;
GRANT SELECT ON TABLE public.flow TO readonly;
GRANT ALL ON TABLE public.flow TO developer;


--
-- Name: SEQUENCE flow_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.flow_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.flow_id_seq TO developer;


--
-- Name: TABLE flyway_schema_history; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.flyway_schema_history TO app;
GRANT SELECT ON TABLE public.flyway_schema_history TO readonly;
GRANT ALL ON TABLE public.flyway_schema_history TO developer;


--
-- Name: TABLE lecturer_phone; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.lecturer_phone TO app;
GRANT SELECT ON TABLE public.lecturer_phone TO readonly;
GRANT ALL ON TABLE public.lecturer_phone TO developer;


--
-- Name: TABLE lesson; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.lesson TO app;
GRANT SELECT ON TABLE public.lesson TO readonly;
GRANT ALL ON TABLE public.lesson TO developer;


--
-- Name: TABLE lesson_classroom; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.lesson_classroom TO app;
GRANT SELECT ON TABLE public.lesson_classroom TO readonly;
GRANT ALL ON TABLE public.lesson_classroom TO developer;


--
-- Name: SEQUENCE lesson_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.lesson_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.lesson_id_seq TO developer;


--
-- Name: TABLE role; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.role TO app;
GRANT SELECT ON TABLE public.role TO readonly;
GRANT ALL ON TABLE public.role TO developer;


--
-- Name: SEQUENCE role_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.role_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.role_id_seq TO developer;


--
-- Name: TABLE unit; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.unit TO app;
GRANT SELECT ON TABLE public.unit TO readonly;
GRANT ALL ON TABLE public.unit TO developer;


--
-- Name: SEQUENCE unit_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.unit_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.unit_id_seq TO developer;


--
-- Name: TABLE "user"; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."user" TO app;
GRANT SELECT ON TABLE public."user" TO readonly;
GRANT ALL ON TABLE public."user" TO developer;


--
-- Name: SEQUENCE user_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.user_id_seq TO app;
GRANT SELECT,USAGE ON SEQUENCE public.user_id_seq TO developer;


--
-- Name: TABLE user_role; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.user_role TO app;
GRANT SELECT ON TABLE public.user_role TO readonly;
GRANT ALL ON TABLE public.user_role TO developer;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO app;
ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO developer;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO app;
ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT SELECT ON TABLES TO readonly;
ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT ALL ON TABLES TO developer;


--
-- PostgreSQL database dump complete
--

\unrestrict PomsHGHVBOPKLFnAbcDf6kTEegnLwocTE56jnWJErAO2hIGKI1zQbVaEgHuvNnQ

