services:
  postgres:
    image: postgres:16
    container_name: pg_course
    environment:
      POSTGRES_DB: course_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
    ports:
      - "15432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d course_db"]
      interval: 5s
      timeout: 5s
      retries: 5


  flyway:
    image: flyway/flyway
    container_name: flyway
    depends_on:
      - postgres
    command: 
      - "migrate"
      - "-baselineOnMigrate=true"
    volumes:
      - ./db/migrations:/flyway/sql
    environment:
      FLYWAY_URL: jdbc:postgresql://postgres:5432/course_db
      FLYWAY_USER: admin
      FLYWAY_PASSWORD: adminpass
      FLYWAY_BASELINE_VERSION: 0
      FLYWAY_BASELINE_DESCRIPTION: "Initial baseline"
      FLYWAY_SCHEMAS: public
      FLYWAY_LOCATIONS: filesystem:/flyway/sql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pg_data:
